.content__small-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
}

.card {
  border-radius: 15px 15px 0 0;
}

.card-photo > img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
}

.card-title > h3 {
  margin-top: 15px;
}

.card-title > h3 > a {
  color: rgb(58, 55, 55);
}

.card-title > h3 > a:hover {
  color: rgb(27, 26, 26);
}

.card-description {
  margin: 10px 0;
}

.card-button > button {
  background-color: rgb(39, 38, 38);
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 50px;
  padding: 8px 15px;
}

.card-button > button:hover {
  color: rgb(39, 38, 38);
  background-color: white;
  border: 1px solid rgb(39, 38, 38);
  font-weight: 500;
  cursor: pointer;
}

