<div class="content__small-card">
  <div class="card">
    <div class="card-photo">
      <img src="../../assets/img_card-1.png" alt="">
    </div>
    <div class="card-title">
      <h3>
        Inside The Global Fashion Summit
        Attempt To Un-Fuck the Planet
      </h3>
    </div>
    <div class="card-description">
      <p>Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Distinctio, esse aperiam provident cumque fugiat corporis impedit necessitatibus in totam molestias aut assumenda laudantium iusto vitae tempore suscipit enim ad laborum!</p>
    </div>
    <div class="card-button">
      <button>More...</button>
    </div>
  </div>
  <div class="card">
    <div class="card-photo">
      <img src="../../assets/img_card-2.png" alt="">
    </div>
    <div class="card-title">
      <h3>
        Transforming The Neo-Classical Villa
        into A Concrete masterwook
      </h3>
    </div>
    <div class="card-description">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Nam officiis omnis, sed earum accusantium illum aperiam reiciendis mollitia esse vero accusamus est perferendis quam nulla magni laboriosam aliquam, unde perspiciatis.</p>
    </div>
    <div class="card-button">
      <button>More...</button>
    </div>
  </div>
</div>
