<div class="content__small-card">
  <div class="card">
    <div class="card-photo">
      <img src="../../assets/img_card-1.png" alt="">
    </div>
    <div class="card-title">
      <h2>Texto Aqui</h2>
    </div>
    <div class="card-description">
      <p>jfksafksadlfsdlfd</p>
    </div>
    <div class="card-button">
      <button>Saiba mais</button>
    </div>
  </div>
  <div class="card">
    <div class="card-photo">
      <img src="../../assets/img_card-2.png" alt="">
    </div>
    <div class="card-title">
      <h2>Texto Aqui</h2>
    </div>
    <div class="card-description">
      <p>jfksafksadlfsdlfd</p>
    </div>
    <div class="card-button">
      <button>Saiba mais</button>
    </div>
  </div>
</div>
