.content__small-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 49%;
  border: 1px solid red;
  border-radius: 15px 15px 0 0;
}

.card-photo > img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
}

