.content__menu-bar {
  padding: 50px 40px;
  height: 100vh;
}

.content__menu-bar > p {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 10px;
}

.content__menu-general {
  padding-bottom: 20px;
}

.content__menu-general > ul {
  margin-top: 15px;
  margin-left: 20px;
}

.content__menu-general > ul > li {
  font-size: 1rem;
  margin-top: 20px;
}

.content__menu-general ul > li > a {
  text-decoration: none;
  font-weight: lighter;
  color: rgb(120, 116, 116);
  margin-left: 20px;
}

.content__menu-general ul > li > a:hover {
  text-decoration: none;
  font-weight: 500;
  color: rgb(65, 63, 63);
}

.content__menu-general > input {
  border-color: rgb(196, 192, 192);
  border: none;
  outline-width: 0.1px;
  outline-color: rgb(224, 221, 221);
  outline-style: solid;
  border-radius: 20px;
  padding: 8px 0 8px 20px;
  font-size: .8rem;
}

.content__menu-publics > ul {
  margin-top: 15px;
  margin-left: 20px;
}
