.content__menu-bar {
  padding: 50px 25px;
}

.content__menu-bar > p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 50px;
}

.content__menu-bar > ul > li {
  font-size: 2rem;
}

.content__menu-general {
  margin-bottom: 20px;
}

.content__menu-general > ul {
  margin-top: 15px;
  margin-left: 20px;
}

.content__menu-general > ul > li {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 20px;
}

.content__menu-general > a {
  list-style: none;
}


.content__menu-general > input {
  border-color: rgb(196, 192, 192);
  border: none;
  outline-width: 0.5px;
  outline-color: rgb(196, 192, 192);
  outline-style: solid;
  border-radius: 20px;
  padding: 8px;
}

.content__menu-publics > ul {
  margin-top: 15px;
  margin-left: 20px;
}
/*

.content__menu-general > ul > li {
  padding: 20px 20px 5px;

}

.content__menu-publics {
  padding: 20px 20px 5px;
  border: 1px solid yellow;
  margin-bottom: 20px;
}


*/
