<div class="container__info_bar">
  <div class="info_bar_content">
      <img src="../../assets/img_perfil.png">
    <div class="info_persona">
      <p>Writer @washDesign-ind.</p>
      <h2>Washington Queiroz</h2>
        <ul>
          <li>
            <span>•</span>
            Publicações</li>
          <li><span>•</span>
            Seguidores</li>
          <li><span>•</span>
            Seguindo</li>
        </ul>
    </div>
    <div class="follow-bar">
      <button>Follow +</button>
    </div>
  </div>
</div>
